@media only screen and (max-width: 400px) {
  .products {
    width: 100% !important;

    flex-direction: column !important;
  }
  .product,
  label {
    padding: 0 !important;
  }
}
.products {
  background-color: #065f46;
  width: 85%;
  /* height: 70vh; */
  padding: 20px;
  margin: 20px auto;
  box-shadow: 10px 10px 8px #ccc;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: center;
}
.product {
  font-weight: bold;
  display: inline-block;
  /* padding:5px 20px 5px 10px; */
  color: #ecfdf5;
  margin: 5px 5px;
  padding: 10px 0;
}
label {
  font-weight: bold;
  display: inline-block;
  /* padding:5px 20px 5px 10px; */
  color: #ecfdf5;
  margin: 5px 15px;
  padding: 10px 5px;
}
