@media only screen and (max-width: 900px) {
    
  .container{
    flex-direction: column !important;
    align-items: center;
    justify-content: center;
  }
  .product{
    display: block !important;
  }
}
  @media only screen and (max-width: 900px) {
  .addProduct,.productlist{
    width: 70% !important;

  }
}
  

.container {
 
  width: 100%;
  height: 100%; 
  display: flex;
    flex-direction: row;
    justify-content:center;
    /* align-items: center; */
    /* padding-top: 40px; */
    /* margin-top:20px; */
    /* background-color: aqua; */
}
.addProduct{
  width: 100%;
  background-color: #065f46
  ;
  /* width: 50%; */
  /* height: 70vh; */
  padding: 20px;
  /* margin: 20px; */
  box-shadow: 10px 10px 8px #ccc;
  border-radius: 10px;
  margin: 20px 20px;
}
.productlist{
 width: 100%;
 margin: 20px ;
}

/* .showproduct{
    width: 50%;
    
} */


